@model List<UserManagement.Models.UserShift>

@{
    int i = 0;
}
<table class="table">
    <thead>
        <tr>
            <th scope="col">SN</th>
            <th scope="col">User Name</th>
            @*<th scope="col">Dep Id</th>*@
            <th scope="col">Total time</th>

        </tr>
    </thead>
    <tbody>
        @foreach (UserManagement.Models.UserShift item in Model)
        {
            i++;
            <tr>
                <td>@i</td>
                <td>@item.UserId</td>

                @*@foreach (var stuff in ViewBag.NameList)
                    {
                    <td value="@item.Id">
                       @stuff.name
                    </td>
                    }*@
                    
                <td>@item.TotalTime</td>
                <td><a href="GetShiftyId/@item.Id">View</a></td>
                <td><a href="DeleteShiftById/@item.Id">Delete</a></td>
            </tr>
        }
    </tbody>
</table>